
apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-secret
  namespace: monitoring
type: Opaque
stringData:
  admin-user: admin
  admin-password: YOUR_GRAFANA_ADMIN_PASSWORD
---
apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-smtp-secret
  namespace: monitoring
type: Opaque
stringData:
  smtp-password: YOUR_GMAIL_APP_PASSWORD
